body {
  cursor: none;
}
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px; /* Größe des Cursors */
  height: 24px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(149, 85, 255, 1) 50%,
    rgba(149, 85, 255, 0) 90%
  );
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen; /* Overlay für Glow */
  opacity: 1;
  filter: blur(6px);
  transition: opacity 0.3s ease-out;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* .cursor-trail {
  position: fixed;
  width: 6px;
  height: 6px;
  background-color: #9555ff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  opacity: 0.8;
  transform: scale(1);
} */
