a[href*='unicorn.studio'] {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}
